@{
    ViewBag.Title = "Home Page";
}

<form role="form" class="form-inline">
    <div class="form-group">
        <button type="submit" class="form-control btn btn-primary" formaction="/SignUp/Student">Student Sign-Up</button>
        <button type="submit" class="form-control btn btn-primary" formaction="/SignUp/Coach">Coach Sign-Up</button>
    </div>
</form>