<div class="form-group">
    <label>Monday</label>

    <div class="form-inline">
        <label for="monday-start">Start:</label>
        <input class="form-control" type="time" id="monday-start" />
        <label for="monday-end">End:</label>
        <input class="form-control" type="time" id="monday-end" />
    </div>
</div>

<div class="form-group">
    <label>Tuesday</label>

    <div class="form-inline">
        <label for="tuesday-start">Start:</label>
        <input class="form-control" type="time" id="tuesday-start" />
        <label for="tuesday-end">End:</label>
        <input class="form-control" type="time" id="tuesday-end" />
    </div>
</div>

<div class="form-group">
    <label>Wednesday</label>

    <div class="form-inline">
        <label for="wednesday-start">Start:</label>
        <input class="form-control" type="time" id="wednesday-start" />
        <label for="wednesday-end">End:</label>
        <input class="form-control" type="time" id="wednesday-end" />
    </div>
</div>

<div class="form-group form-inline">
    <label>Thursday</label>

    <div class="form-inline">
        <label for="thursday-start">Start:</label>
        <input class="form-control" type="time" id="thursday-start" />
        <label for="thursday-end">End:</label>
        <input class="form-control" type="time" id="thursday-end" />
    </div>
</div>

<div class="form-group form-inline">
    <label>Friday</label>

    <div class="form-inline">
        <label for="friday-start">Start:</label>
        <input class="form-control" type="time" id="friday-start" />
        <label for="friday-end">End:</label>
        <input class="form-control" type="time" id="friday-end" />
    </div>
</div>

<div class="form-group form-inline">
    <label>Saturday</label>

    <div class="form-inline">
        <label for="saturday-start">Start:</label>
        <input class="form-control" type="time" id="saturday-start" />
        <label for="saturday-end">End:</label>
        <input class="form-control" type="time" id="saturday-end" />
    </div>
</div>

<div class="form-group form-inline">
    <label>Sunday</label>

    <div class="form-inline">
        <label for="sunday-start">Start:</label>
        <input class="form-control" type="time" id="sunday-start" />
        <label for="sunday-end">End:</label>
        <input class="form-control" type="time" id="sunday-end" />
    </div>
</div>
