<div class="form-group">
    <label>Are you committed to participating with the team, twice a week, for the next five weeks?</label>
    <div class="radio no-top-margin">
        <label><input type="radio" name="optradio" />Yes, I am fully committed</label>
    </div>

    <div class="radio">
        <label><input type="radio" name="optradio" />I'll try my best to be online and available, but I can't formally commit</label>
    </div>

    <div class="radio">
        <label><input type="radio" name="optradio" />No, but I really want to be a part of it!</label>
    </div>
</div>

<div class="form-group">
    <label>How serious should your team be about League of Legends and Learning Fives?</label>
    <div class="checkbox no-top-margin">
        <label><input type="checkbox" />Serious</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" />Semi-serious</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" />Casual</label>
    </div>
</div>
