<div class="form-group">
    <label for="preferred">Preferred Role:</label>
    <select class="form-control" id="preferred">
        <option></option>
        <option>Top Lane</option>
        <option>Jungle</option>
        <option>Middle Lane</option>
        <option>Marksman</option>
        <option>Support</option>
    </select>
</div>

<div class="form-group">
    <label for="top">Rate your comfort with top lane:</label>
    <select class="form-control" id="top">
        <option></option>
        <option>3 - I would really like to play top lane</option>
        <option>2 - I would be okay with playing top lane</option>
        <option>1 - I do not like playing top lane, but will play it if necessary</option>
        <option>0 - I do not want to play top lane in any case</option>
    </select>
</div>
<div class="form-group">
    <label for="jungle">Rate your comfort with jungle:</label>
    <select class="form-control" id="jungle">
        <option></option>
        <option>3 - I would really like to play jungle</option>
        <option>2 - I would be okay with playing jungle</option>
        <option>1 - I do not like playing jungle, but will play it if necessary</option>
        <option>0 - I do not want to play jungle in any case</option>
    </select>
</div>
<div class="form-group">
    <label for="mid">Rate your comfort with mid lane:</label>
    <select class="form-control" id="mid">
        <option></option>
        <option>3 - I would really like to play mid lane</option>
        <option>2 - I would be okay with playing mid lane</option>
        <option>1 - I do not like playing mid lane, but will play it if necessary</option>
        <option>0 - I do not want to play mid lane in any case</option>
    </select>
</div>
<div class="form-group">
    <label for="marksman">Rate your comfort with marksman:</label>
    <select class="form-control" id="marksman">
        <option></option>
        <option>3 - I would really like to play marksman</option>
        <option>2 - I would be okay with playing marksman</option>
        <option>1 - I do not like playing marksman, but will play it if necessary</option>
        <option>0 - I do not want to play marksman in any case</option>
    </select>
</div>
<div class="form-group">
    <label for="support">Rate your comfort with support:</label>
    <select class="form-control" id="support">
        <option></option>
        <option>3 - I would really like to play support</option>
        <option>2 - I would be okay with playing support</option>
        <option>1 - I do not like playing support, but will play it if necessary</option>
        <option>0 - I do not want to play support in any case</option>
    </select>
</div>
