<div class="form-group">
    <label>Do you consider yourself toxic?</label>
    <div class="radio no-top-margin">
        <label><input type="radio" name="optradio" />Yes, I am quite toxic</label>
    </div>

    <div class="radio">
        <label><input type="radio" name="optradio" />Sometimes I can be toxic</label>
    </div>

    <div class="radio">
        <label><input type="radio" name="optradio" />No, I am not toxic</label>
    </div>
</div>

<div class="form-group">
    <label>Select any punishments you have received:</label>
    <div class="checkbox no-top-margin">
        <label><input type="checkbox" />Low priority queue</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" />Chat restrictions</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" />Ranked restrictions</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" />Temporary account ban</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" />Permanent account ban</label>
    </div>
</div>
