
@{
    ViewBag.Title = "Coach";
}

<h2>Coach Registration</h2>

<form role="form">
    <div class="form-group">
        <label>Registration Type:</label>
        <div class="radio no-top-margin">
            <label><input type="radio" name="optradio"/>Coach, I want to run my own team</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio"/>Substitute, I'm available to fill in for a coach if they are not available</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio"/>Understudy, I want to help and support a team</label>
        </div>
    </div>

    @{
        Html.RenderPartial("_SummonerInfo");
    }

    <hr/><!---------------------------------------------------------------------------------------------------------------->

    <div class="form-group">
        <label>What level of players are you most interested in coaching?</label>
        <div class="checkbox">
            <label><input type="checkbox" />Bronze</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" />Silver</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" />Gold</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" />Platinum</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" />Diamond</label>
        </div>
    </div>

    <div class="form-group">
        <label>Additionally, what level of players would you be willing to coach?</label>
        <div class="checkbox">
            <label><input type="checkbox" />Bronze</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" />Silver</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" />Gold</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" />Platinum</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" />Diamond</label>
        </div>
    </div>

    <hr/><!---------------------------------------------------------------------------------------------------------------->

    @{
        Html.RenderPartial("_Availability");
    }

    <hr /><!---------------------------------------------------------------------------------------------------------------->

    <div class="form-group">
        <label for="languages">List the languages you speak:</label>
        <input class="form-control" type="text" id="languages" />
    </div>

    <div class="form-group">
        <label>List the summoner names of students, coaches, or understudies you wish to be grouped with:</label>
        <input class="form-control" type="text" />
    </div>

    <div class="form-group">
        <label for="coaching-style">Coaching Style / Philosophy:</label>
        <textarea rows="5" class="form-control" id="coaching-style"></textarea>
    </div>

    <div class="form-group">
        <label for="coaching-experience">Experience as a Coach:</label>
        <textarea rows="5" class="form-control" id="coaching-experience"></textarea>
    </div>

    @{
        Html.RenderPartial("_Commit");
        Html.RenderPartial("_Toxic");
    }

    <div class="form-group">
        <label for="more-information">Is there anything else you would like us to know?</label>
        <textarea rows="5" class="form-control" id="more-information"></textarea>
    </div>

    <div class="form-group">
        <div class="checkbox no-top-margin">
            <label><input type="checkbox"/>Email me sign-up information for future Learning Fives sessions</label>
        </div>
    </div>
</form>